#dk_pricr br, #dk_pricr p {
	display:none;
}

#dk_pricr .dk_plan {
	margin-right:1.4%; 
	margin-left:1.4%; 
	text-align:center;
}

.dk_plan {
	border:transparent 1px solid;
	background:white;
	float:left;
	/* transition */
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
}

.dk_2_plans .dk_plan {
	width:47%;
}

.dk_3_plans .dk_plan {
	width:30.3%;
}

.dk_plan:hover{
	border:lightgrey 1px solid;
	/* box shadow */
	-moz-box-shadow: 1px 1px 5px 0px #c0c0c0;
	-webkit-box-shadow: 1px 1px 5px 0px #c0c0c0;
	-o-box-shadow: 1px 1px 5px 0px #c0c0c0;
	box-shadow: 1px 1px 5px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
}

.dk_title {
	background:#333; 
	color:white; 
	padding:15px 10px 15px;
	font-weight:300;
}

.dk_plan:hover .dk_title {
	background:#222;
}

.dk_price {
	font-size:28px;
	font-weight:300;
	margin-bottom:16px;
}

.dk_title h4 {
	font-size:40px; 
	margin:18px 0px 10px; 
	color:white;
}
	
.dk_subtitle {
	color:grey; 
	font-size:18px; 
	font-weight:300; 
	line-height:24px; 
	margin-top:10px;
	padding:10px 10px;
}

.dk_features {
	padding:10px 0px; 
	background:whitesmoke;
}

.dk_feature {
	text-align:center;
	padding:0px 20px;
	font-size:15px;
}

.dk_feature div {
	border-bottom: 1px dotted lightgrey;
	padding:8px 0px;
}

.dk_plan .dk_feature:first-child {
	padding-top:20px 20px;
}

.dk_disable {
	color:lightgrey;
}

.dk_link {
	padding:20px; 
	background:whitesmoke;
}

.dk_link a {
	display:block; 
	text-align:center; 
	font-size:20px; 
	font-weight:300; 
	padding:14px; 
	color:white; 
	text-decoration:none;
	-webkit-transition: all 550ms ease;
	-moz-transition: all 550ms ease;
	-o-transition: all 550ms ease;
	transition: all 550ms ease;
}

.dk_link a:hover {
	opacity:0.7; 
	color:white;
}

/* fonts */
.dk_price, .dk_title h4, .dk_link a, .dk_feature {
	font-family:'Helvetica', Arial, sans-serif;
}

/* TABLETS */

@media only screen and (min-width: 40em) and (max-width: 64.063em) {
	.dk_feature {
		font-size:13px;
	}
	.dk_subtitle {
		color:grey; 
		font-size:15px;
	}
	.dk_price {
		font-size:22px;
	}
	.dk_title h4 {
		font-size:32px;
	}
	.dk_link a {
		font-size:14px;
	}
}


/* MOBILE SCREENS */

@media only screen and (max-width: 40em) {
	#dk_pricr .dk_plan { 
		margin-left:0px; 
	}

	.dk_2_plans .dk_plan, .dk_3_plans .dk_plan {
		width:100%; 
		margin-top:30px;
	}
}