.rpt_5_plans .rpt_plan {width:19.5%; float:left;}
.rpt_5_plans .rpt_plan_0 {margin-right:0.62%;}
.rpt_5_plans .rpt_plan_2 {margin-left:0.62%;}
.rpt_5_plans .rpt_plan_3 {margin-left:0.62%;}
.rpt_5_plans .rpt_plan_4 {margin-left:0.62%;}

.rpt_4_plans .rpt_plan {width:24.5%; float:left;}
.rpt_4_plans .rpt_plan_0 {margin-right:0.66%;}
.rpt_4_plans .rpt_plan_2 {margin-left:0.66%;}
.rpt_4_plans .rpt_plan_3 {margin-left:0.66%;}

.rpt_3_plans .rpt_plan {width:32%; float:left;}
.rpt_3_plans .rpt_plan_0 {margin-right:1.9%;}
.rpt_3_plans .rpt_plan_2 {margin-left:1.9%;}

.rpt_2_plans .rpt_plan {width:49%; float:left;}
.rpt_2_plans .rpt_plan_0 {margin-right:2%;}

.rpt_style_basic .rpt_plan .rpt_title img {
    margin-right:10px; 
    position:relative; 
    vertical-align: middle;
}
.rpt_style_basic .rpt_plan .rpt_title {
	border-bottom:#111 solid 1px;
	background:#222;
	padding:14px 18px;
	font-size:26px;
	color:white; 
	line-height:48px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.rpt_style_basic .rpt_sm_title .rpt_plan .rpt_title {font-size:20px;}
.rpt_style_basic .rpt_xsm_title .rpt_plan .rpt_title {font-size:17px;}

.rpt_4_plans .rpt_plan .rpt_title {font-size:17px;}
.rpt_4_plans .rpt_sm_title .rpt_plan .rpt_title {font-size:15px;}
.rpt_4_plans .rpt_xsm_title .rpt_plan .rpt_title {font-size:13px;}

.rpt_5_plans .rpt_plan .rpt_title {font-size:15px;}
.rpt_5_plans .rpt_sm_title .rpt_plan .rpt_title {font-size:13px;}
.rpt_5_plans .rpt_xsm_title .rpt_plan .rpt_title {font-size:12px;}

.rpt_style_basic .rpt_plan .rpt_head .rpt_price .rpt_currency {
	position:relative;
	top:-44px;
	left:-10px;
	font-size:35px;
	line-height:0px;
}

.rpt_4_plans .rpt_plan .rpt_head .rpt_price .rpt_currency {top:-36px;}
.rpt_5_plans .rpt_plan .rpt_head .rpt_price .rpt_currency {top:-26px;}

.rpt_style_basic .rpt_plan .rpt_head {
	border-top:#222 solid 2px;
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(45deg, #333333 0%, #1c1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#333333), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #333333 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #333333 0%,#1c1c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #333333 0%,#1c1c1c 100%); /* IE10+ */
	background: linear-gradient(45deg, #333333 0%,#1c1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1c1c1c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.rpt_style_basic .rpt_plan .rpt_head .rpt_price {
	padding:6px 10px;
	font-size:74px;
	line-height:100px;
	font-weight:300;
	text-align:center;
	color:white; 
	text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6);
}

.rpt_style_basic .rpt_sm_price .rpt_plan .rpt_head .rpt_price {font-size:72px;}
.rpt_style_basic .rpt_xsm_price .rpt_plan .rpt_head .rpt_price {font-size:66px;}

.rpt_4_plans .rpt_plan .rpt_head .rpt_price {font-size:69px; line-height:80px;}
.rpt_4_plans .rpt_sm_price .rpt_plan .rpt_head .rpt_price {font-size:63px; line-height:75px;}
.rpt_4_plans .rpt_xsm_price .rpt_plan .rpt_head .rpt_price {font-size:57px; line-height:70px;}

.rpt_5_plans .rpt_plan .rpt_head .rpt_price {font-size:59px; line-height:80px;}
.rpt_5_plans .rpt_sm_price .rpt_plan .rpt_head .rpt_price {font-size:54px; line-height:80px;}
.rpt_5_plans .rpt_xsm_price .rpt_plan .rpt_head .rpt_price {font-size:47px; line-height:80px;}

.rpt_style_basic .rpt_plan .rpt_head .rpt_recurrence {
	font-size:13px;
	font-weight:300;
	line-height:18px;
	padding:20px 40px 10px;
	color:lightgrey;
	text-align:center;
}

.rpt_style_basic .rpt_sm_recurrence .rpt_plan .rpt_head .rpt_recurrence {font-size:11px; padding:20px 40px 4px;}

.rpt_style_basic .rpt_plan .rpt_head .rpt_subtitle {
	font-size:16px;
	line-height:20px;
	font-weight:300;
	text-align:center; 
	padding:10px 40px 20px;
}

.rpt_style_basic .rpt_sm_subtitle .rpt_plan .rpt_head .rpt_subtitle {font-size:14px;}
.rpt_style_basic .rpt_xsm_subtitle .rpt_plan .rpt_head .rpt_subtitle {font-size:12px;}

.rpt_4_plans  .rpt_plan .rpt_head .rpt_subtitle {font-size:16px; line-height:18px; padding:10px 20px 20px;}
.rpt_4_plans .rpt_sm_subtitle .rpt_plan .rpt_head .rpt_subtitle {font-size:14px; line-height:17px;}
.rpt_4_plans .rpt_xsm_subtitle .rpt_plan .rpt_head .rpt_subtitle {font-size:13px; line-height:16px;}

.rpt_5_plans .rpt_plan .rpt_head .rpt_subtitle {font-size:15px; line-height:18px; padding:10px 20px 20px;}
.rpt_5_plans .rpt_sm_subtitle .rpt_plan .rpt_head .rpt_subtitle {font-size:13px; line-height:17px;}
.rpt_5_plans .rpt_xsm_subtitle .rpt_plan .rpt_head .rpt_subtitle {font-size:12px; line-height:16px;}

.rpt_style_basic .rpt_plan .rpt_head .rpt_description {
	font-size:14px;
	line-height:20px;
	padding:0px 40px 30px;
	font-weight:300;
	text-align:center; 
	color:grey;
}

.rpt_style_basic .rpt_sm_description .rpt_plan .rpt_head .rpt_description {font-size:12px;}

.rpt_4_plans  .rpt_plan .rpt_head .rpt_description {font-size:13px; line-height:18px; }
.rpt_4_plans .rpt_sm_description .rpt_plan .rpt_head .rpt_description {font-size:12px; line-height:17px;}

.rpt_5_plans .rpt_plan .rpt_head .rpt_description {font-size:12px; line-height:18px;}
.rpt_5_plans .rpt_sm_description .rpt_plan .rpt_head .rpt_description {font-size:11px; line-height:17px;}

.rpt_style_basic .rpt_plan .rpt_features {
	padding:20px;
	background:whitesmoke;	
	text-align:center;
}

.rpt_style_basic .rpt_plan .rpt_features .rpt_feature {
	font-size: 16px;
	padding:6px 16px;
	border-bottom: 1px dotted lightgrey;
}
.rpt_style_basic .rpt_sm_features .rpt_plan .rpt_features .rpt_feature {font-size: 14px;}

.rpt_4_plans .rpt_plan .rpt_features .rpt_feature {
	padding:6px 10px;
	font-size: 14px;
}
.rpt_4_plans .rpt_sm_features .rpt_plan .rpt_features .rpt_feature {font-size: 12px;}

.rpt_5_plans .rpt_plan .rpt_features .rpt_feature {
	padding:6px 10px;
	font-size: 13px;
}
.rpt_5_plans .rpt_sm_features .rpt_plan .rpt_features .rpt_feature {font-size: 11px;}

.rpt_style_basic .rpt_plan .rpt_foot {
	display:block;
	padding:10px 30px;
	border-top:whitesmoke solid 2px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	text-align:center;
	color: white;
	font-size: 24px;
	text-decoration:none;
	font-weight:300;
	transition:All 500ms ease;
	-webkit-transition:All 500ms ease;
	-moz-transition:All 500ms ease;
	-o-transition:All 500ms ease;
} 
.rpt_style_basic .rpt_sm_button .rpt_plan .rpt_foot {font-size: 19px;}

.rpt_4_plans .rpt_plan .rpt_foot {padding:4px 20px; font-size:19px;}
.rpt_4_plans .rpt_sm_button .rpt_plan .rpt_foot {padding:4px 20px; font-size:17px;}

.rpt_5_plans .rpt_plan .rpt_foot {padding:4px 20px; font-size:17px;}
.rpt_5_plans .rpt_sm_button .rpt_plan .rpt_foot {font-size:16px;}

.rpt_style_basic .rpt_plan .rpt_foot:hover {opacity:0.8;}

.rpt_style_basic .rpt_plan img {
    display:inline;
    margin:0px 10px 0 0;
    padding:0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    border:none;
}

.rpt_style_basic .rpt_recommended_plan {position:relative; top:-10px;}

.rpt_style_basic .rpt_recommended_plan .rpt_title {background:#111;}

.rpt_style_basic .rpt_recommended_plan .rpt_head .rpt_price {font-size:98px;}
.rpt_4_plans .rpt_recommended_plan .rpt_head .rpt_price {font-size:74px;}
.rpt_5_plans .rpt_recommended_plan .rpt_head .rpt_price {font-size:67px;}

.rpt_style_basic .rpt_sm_price .rpt_recommended_plan .rpt_head .rpt_price {font-size:93px;}
.rpt_4_plans .rpt_sm_price .rpt_recommended_plan .rpt_head .rpt_price {font-size:70px;}
.rpt_5_plans .rpt_sm_price .rpt_recommended_plan .rpt_head .rpt_price {font-size:64px;}

.rpt_style_basic .rpt_xsm_price .rpt_recommended_plan .rpt_head .rpt_price {font-size:88px;}
.rpt_4_plans .rpt_xsm_price .rpt_recommended_plan .rpt_head .rpt_price {font-size:67px;}
.rpt_5_plans .rpt_xsm_price .rpt_recommended_plan .rpt_head .rpt_price {font-size:61px;}

.rpt_style_basic .rpt_recommended_plan .rpt_head {
background: #1e1e1e; /* Old browsers */
background: -moz-linear-gradient(45deg, #1e1e1e 0%, #191919 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#1e1e1e), color-stop(100%,#191919)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg, #1e1e1e 0%,#191919 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, #1e1e1e 0%,#191919 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, #1e1e1e 0%,#191919 100%); /* IE10+ */
background: linear-gradient(45deg, #1e1e1e 0%,#191919 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#191919',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.rpt_style_basic .rpt_recommended_plan .rpt_foot {font-size:30px; padding:16px 0px;}
.rpt_style_basic .rpt_sm_button .rpt_recommended_plan .rpt_foot {font-size:30px;}

.rpt_4_plans .rpt_recommended_plan .rpt_foot {font-size:22px; font-weight:300; padding:10px 0px;}
.rpt_4_plans .rpt_sm_button .rpt_recommended_plan .rpt_foot {font-size:19px; padding:10px 0px;}

.rpt_5_plans .rpt_recommended_plan .rpt_foot {font-size:20px; font-weight:300; padding:10px 0px;}
.rpt_5_plans .rpt_sm_button .rpt_recommended_plan .rpt_foot {font-size:18px; padding:10px 0px;}

img.rpt_recommended {float:right;}

/* CSS FIXES */
.entry-content .rpt_plan a {border-bottom:none;}
.rpt_plan a {border-bottom:none;}

/* TABLETS */

@media only screen and (min-width: 40em) and (max-width: 64.063em) {
	.rpt_style_basic .rpt_plan .rpt_head .rpt_price {font-size:64px; margin-top:20px;}
}

/* MOBILE SCREENS */

@media only screen and (max-width: 40em) {
	.rpt_style_basic .rpt_recommended_plan .rpt_foot {font-size:30px; font-weight:300; padding:20px 0px;}
	.rpt_style_basic .rpt_plan .rpt_head .rpt_price {font-size:74px;line-height:100px;}
	.rpt_style_basic .rpt_plan .rpt_title {font-size:26px;line-height:48px;}
	.rpt_style_basic .rpt_plan .rpt_head .rpt_subtitle {
		font-size:16px;
		line-height:20px; 
		padding:10px 40px 20px;
	}
	
	.rpt_style_basic .rpt_plan .rpt_head .rpt_description {
		font-size:14px;
		line-height:20px;
		padding:0px 40px 30px;
	}
	
	.rpt_style_basic .rpt_plan .rpt_features .rpt_feature {padding:6px 16px;font-size:14px;}

	.rpt_style_basic .rpt_plan .rpt_foot {
		padding:10px 40px;
		text-align:center;
        font-size: 20px;
	}
	
	.rpt_plans .rpt_plan {width:96%;}
	.rpt_plans .rpt_plan {margin:10px 2% 20px !important;}
}